__pycache__
devops/helm/charts/traction/charts/**
**/.env
.DS_Store

traction-venv
./services/tenant-ui/config/local.json

.vscode/settings.json
**/.venv
plugins/poetry.lock

.idea
**/.idea

#Config files to ignore
services/tenant-ui/config/default.json
scripts/ledgers.yml
services/aca-py/ngrok-wait.sh